*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    padding: 0;
    list-style-type: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
header{
    background-color:black;
    color:crimson
}
a{
    text-decoration: none;
    color: inherit;
}
.nav-link{
    display: flex;
}
.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width:50%;
    margin: 0 auto;
    width: 350px;
    height: 250px;
}
.gallery {

    padding-top: 40px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-content: center;
}

.gallery-item {
    height: 250px;
    width: 350px;
}
.gallery-item img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: auto;
}